@page
@model IndexModel
@{
    ViewData["Title"] = "Promotion Engine";
}

<div class="text-center">
    <form method="POST">

        <div >
            <div>
                <p style="font-size: 2rem;">
                    Please choose your products:
                </p>

                <p style="font-size:20px;">Unit A - 50</p>
                <input class="textBoxSize" id="txtUnitA" type="number" onfocusout="onClickOut();" />
                <br />
                <p style="font-size:20px;">Unit B - 30</p>
                <input class="textBoxSize" id="txtLastName" type="number" />
                <br />
                <p style="font-size:20px;">Unit C - 20</p>
                <input class="textBoxSize" id="txtNoOfGuests" type="number"  />
                <br />
                <p style="font-size:20px;">Unit D - 15</p>
                <input class="textBoxSize" id="txtUnitD" type="number" />
                <br />

                <p style="font-size: 2rem;">
                    Total Price:
                </p>
                <input class="textBoxSize" type="text" id="totalPrice" />

                @* If I get time, I will attempt to implement the stripe payment system. *@
                @*<script src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key=""
                data-amount=""
                data-name="ACME Industries"
                data-description="Payment"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="en"
                data-zip-code="true"
                data-label="Pay">
        </script>*@
            </div>
        </div>
    </form>
</div>
