
PromotionEngine/PromotionEngine/bin/Debug/netcoreapp3.1/PromotionEngine.dll
PromotionEngine/PromotionEngine/bin/Debug/netcoreapp3.1/PromotionEngine.Views.dll
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.dll
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.Views.dll
PromotionEngine/PromotionEngine/bin/Debug/netcoreapp3.1/appsettings.Development.json
PromotionEngine/PromotionEngine/bin/Debug/netcoreapp3.1/appsettings.json
PromotionEngine/PromotionEngine/bin/Debug/netcoreapp3.1/PromotionEngine.deps.json
PromotionEngine/PromotionEngine/bin/Debug/netcoreapp3.1/PromotionEngine.exe
PromotionEngine/PromotionEngine/bin/Debug/netcoreapp3.1/PromotionEngine.pdb
PromotionEngine/PromotionEngine/bin/Debug/netcoreapp3.1/PromotionEngine.runtimeconfig.dev.json
PromotionEngine/PromotionEngine/bin/Debug/netcoreapp3.1/PromotionEngine.runtimeconfig.json
PromotionEngine/PromotionEngine/bin/Debug/netcoreapp3.1/PromotionEngine.Views.pdb
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/apphost.exe
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.csproj.CopyComplete
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.csproj.CoreCompileInputs.cache
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.csproj.FileListAbsolute.txt
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.genruntimeconfig.cache
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.MvcApplicationPartsAssemblyInfo.cache
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.pdb
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.RazorCoreGenerate.cache
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.RazorTargetAssemblyInfo.cache
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.RazorTargetAssemblyInfo.cs
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.TagHelpers.input.cache
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.TagHelpers.output.cache
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/PromotionEngine.Views.pdb
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/staticwebassets/PromotionEngine.StaticWebAssets.Manifest.cache
PromotionEngine/PromotionEngine/obj/Debug/netcoreapp3.1/staticwebassets/PromotionEngine.StaticWebAssets.xml
